<div class="container" ng-controller="AddCtrl">
	<form name="form" novalidate class="css-form">
		<label>Title</label>
		<input class="form-control" type="text" ng-model="issue.title">
		<label>Points</label>
		<input class="form-control" type="number" min="1" max="255" ng-model="issue.point">
		<label>Description</label>
		<textarea class="form-control" type="text" ng-model="issue.description"></textarea>
		<label>Assigned user</label>
		<input class="form-control" type="text" ng-model="issue.assign" typeahead="user.get('object').user.get('object').username for user in users" typeahead-editable="false">
		<br>

		<label>Due date</label>
		<div class="input-group">
		  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="issue.dueDate" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		  <span class="input-group-btn">
		    <button class="btn" ng-click="open()"><span class="glyphicon glyphicon-calendar"></span></button>
		  </span>
		</div><!-- /input-group -->
		
        
		<br>
		<button class="btn btn-success pull-right" ng-click="createIssue()">Create</button>
	</form>
	<div ng-show="errorMessage">{{errorMessage}}</div>
	<div ng-show="successMessage">Ok!</div>
	<br>
</div>
