<div ng-controller="AuthCtrl">
   <div class="row">
      <div class="col-md-12">
         <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="">Kii Angular</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li ng-class="{active:global.selectedTab == 1}"><a href="/" ng-click="selectTab(1)">Home</a></li>
                  <li ng-class="{active:global.selectedTab == 2}" ng-show="global.authenticated"><a href="#/issues" ng-click="selectTab(2)">Issues</a></li>
                  <li ng-class="{active:global.selectedTab == 3}" ng-show="global.authenticated"><a href="#/add_issue" ng-click="selectTab(3)">Add Issue</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right" ng-show="global.authenticated">
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown">
                        {{global.user._username}} <b class="caret"></b>
                     </a>
                     <ul class="dropdown-menu">
                        <li><a ng-click="logout()">Logout</a>
                        </li>
                     </ul>
                  </li>
               </ul>
               <ul class="nav navbar-nav navbar-right" ng-hide="global.authenticated">
                  <li><a href="#/signup">Sign Up</a></li>
                  <li class="dropdown">
                     <a class="dropdown-toggle" >Sign in <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form name="form" stop-event novalidate class="css-form">
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                       <input type="text" class="form-control" id="exampleInputEmail2" placeholder="User name" ng-model="user.username" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" ng-model="user.password" required>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Remember me
                                       </label>
                                    </div>
                                    <div class="form-group">
                                       <button class="btn btn-success btn-block" ng-click="login(user)">Sign in</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </nav>
      </div>
   </div>
</div>
