<div ng-controller="IssuesCtrl">
		<!--TODO-->
		<div class="col-md-4 fill" id="col1" droppable drop="handleDrop">
			<h2>TODO</h2>
			<div id="{{$index}}" draggable item="issue" class="red-card rounded-corners" ng-repeat="issue in issues" ng-hide="issue.get('status')!=0">
				<h3>{{issue.get("title")}}</h3>
				<hr>
				<p><span class="glyphicon glyphicon-book"/>{{issue.get("description")}}</p>
				<p><span class="badge badge-primary">{{issue.get("point")}}</span> points</p>
				<p><span class="glyphicon glyphicon-user"/>{{issue.get("assign")}}</p>
				<p><span class="glyphicon glyphicon-calendar"/>{{issue.get("dueDateParsed")}}</p>
			</div>
		</div>
		<!--DOING-->
		<div class="col-md-4 fill" id="col2" droppable drop="handleDrop">
			<h2>DOING</h2>
			<div id="{{$index}}" draggable item="issue" class="yellow-card rounded-corners" ng-repeat="issue in issues" ng-hide="issue.get('status')!=1">
				<h3>{{issue.get("title")}}</h3>
				<hr>
				<p><span class="glyphicon glyphicon-book"/>{{issue.get("description")}}</p>
				<p><span class="badge badge-primary">{{issue.get("point")}}</span> points</p>
				<p><span class="glyphicon glyphicon-user"/>{{issue.get("assign")}}</p>
				<p><span class="glyphicon glyphicon-calendar"/>{{issue.get("dueDateParsed")}}</p>
			</div>
		</div>
		<!--DONE-->
		<div class="col-md-4 fill" id="col3" droppable drop="handleDrop">
			<h2>DONE</h2>
			<div id="{{$index}}" draggable item="issue" class="green-card rounded-corners" ng-repeat="issue in issues" ng-hide="issue.get('status')!=2">
				<h3>{{issue.get("title")}}</h3>
				<hr>
				<p><span class="glyphicon glyphicon-book"/>{{issue.get("description")}}</p>
				<p><span class="badge badge-primary">{{issue.get("point")}}</span> points</p>
				<p><span class="glyphicon glyphicon-user"/>{{issue.get("assign")}}</p>
				<p><span class="glyphicon glyphicon-calendar"/>{{issue.get("dueDateParsed")}}</p>
			</div>
		</div>
		<div class="clearfix"/>
</div>
