<div ng-controller="IssuesCtrl">
	
	<table class="table table-striped">
	  <tr>
	    <th>Number</th>
	    <th>Title</th>
	    <th>Description</th>
	    <th>Progress</th>
	    <th>Status</th>
	    <th>Assigned</th>
	    <th>Due Date</th>
	    <th>Delete</th>
	  </tr>
	  <tr ng-repeat="issue in issues" | orderBy:issue.get("title"):reverse>
	    <td>{{$index}}</td>
	    <td>{{issue.get("title")}}</td>
	    <td>{{issue.get("description")}}</td>
	    <td>{{issue.get("point")}}</td>
	    <td>{{issue.get("status")}}</td>
	    <td>{{issue.get("assign")}}</td>
	    <td>{{issue.get("dueDateParsed")}}</td>
	    <td><span class="glyphicon glyphicon-trash" ng-click="deleteIssue($index, issue)"></span></a></td>
	  </tr>
	</table>

</div>
