<div class="container" ng-controller="ProjectCtrl">
	<form name="form" novalidate class="css-form">
		<label>Title</label>
		<input class="form-control" type="text" ng-model="project.title">
		<label>Description</label>
		<textarea class="form-control" type="text" ng-model="project.description"></textarea>
		<br>
		<button class="btn btn-success pull-right" ng-click="createProject(project)">Create</button>
	</form>
	<div class="alert" ng-show="errorMessage">{{errorMessage}}</div>
	<br>
	<!-- List of projects -->
	<table class="table table-stripped">
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Description</th>
			<th class="text-right">Action</th>
		</tr>
		<tr ng-repeat="project in projects">
			<td>{{$index}}</td>
			<td ng-show="$index == editProject">
				<input class="form-control" type="text" ng-model="selectedProject.get('object').title">
			</td>
			<td ng-show="$index == editProject">
				<textarea class="form-control" type="text" ng-model="selectedProject.get('object').description"></textarea>
			</td>
			<td ng-hide="$index == editProject"><a href="\#/issues/{{project.get('object').title}}">{{project.get('object').title}}</a></td>
			<td ng-hide="$index == editProject">{{project.get('object').description}}</td>
			<td class="text-right">
				<button ng-show="$index == editProject" ng-click="updateProject(selectedProject)" class="btn btn-success"><span class="glyphicon glyphicon-check"/></button>
				<button ng-hide="$index == editProject" ng-click="setEditProject(project,$index)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"/></button>
				<button ng-click="deleteProject(project,$index)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"/></button>
				  <button ng-click="addIssue(project,$index)" class="btn"><span class="glyphicon glyphicon-plus"/></button>
			</td>
		</tr>
	</table>
</div>
