<div class="panel panel-default" ng-hide="infoMessage">
	<div class="panel-heading">
	    <h1 class="panel-title">Sign Up</h1>
	</div>
	<div class="panel-body">
	    <form name="form" novalidate class="css-form">
	    	<div class="form-group" ng-class="{'has-error':form.username.$dirty && form.username.$invalid}">
			    <label for="username">Username</label>
			    <input type="text" class="form-control" ng-model="user.username" name="username" required/>
			</div>
			<div class="form-group" ng-class="{'has-error':form.password.$dirty && form.password.$invalid}">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" ng-model="user.password" name="password" required/>
			</div>
			<div class="form-group" ng-class="{'has-error':form.emailAddress.$dirty && form.emailAddress.$invalid}">
			    <label for="emailAddress">Email</label>
			    <input type="email" class="form-control" ng-model="user.emailAddress" name="emailAddress" required/>
			</div>
			<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
			<button class="btn btn-lg btn-success pull-right" ng-click="insertUser(user)">Sign me up!</button>
		    <div class="clearfix"></div>
	    </form>
	</div>
</div>
<div class="panel panel-default" ng-show="infoMessage">
	<div class="panel-heading">
	    <h2 class="panel-title">Sign up complete</h2>
	</div>
	<div class="panel-body">
	    <h1>Congratulations!</h1>
	    <p>{{infoMessage}}</p>
	</div>
</div>

